
body {
    background-color: #ffffff;
}
header {
    margin-top: 20px;
    height: 40px;
    background-color: #1b998a85;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img {
width:100%;
}
#menu{
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18;
    margin: 0;
    padding: 0%;
}

main {
    margin: 0;
   padding-top: 20px;
}
li a:link {
    text-decoration: none;
    color: #ffffff;
}

li a:visited {
    color: #ffffff;
}

li a:hover {
    transform: scale(1.1);
    font-size: x-large;
}