body {
    background-color: #ffffff;
}

header {
    margin-top: 20px;
    height: 40px;
    background-color: #1b998a85;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 100%;
}

#menu {
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18;
    margin: 0;
    padding: 0%;
}

main {
    margin: 0;
    padding-top: 20px;
}

li a:link {
    text-decoration: none;
    color: #ffffff;
}

li a:visited {
    color: #ffffff;
}

li a:hover {
    transform: scale(1.1);
    font-size: x-large;
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 1.5rem;
}

article {
    max-height: 800px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: justify;
    background-color: rgba(235, 235, 83, 0.295);

}

div article h1 {
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    /* padding: 10px 10px 0px 80px; */
    text-align: center;
}

div article h2 {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 0px;
    /* padding: 0px 10px 0px 80p */
    text-align: center;
}

div article h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    text-align: justify;
}

div article h4 {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    font-style: italic;
}

hr {
    border-radius: 50px;
    height: 3px;
    width: 400px;
    background-color: #1b998a85;
    margin: none;
    padding: none;
}

#clq,
#dcv,
#exc {
    width: 450px;
    float: inline-start;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: ridge;
    border-radius: 50px;
    border-color: aqua;
}

#clq {
    /* animation: fadein1 2s ease, rotation1 2s ease-out, translation1 2s ease-in-out; */
    animation: fadein1 1s ease, rotation1 2s ease-in-out;
    background-image: url(image/webm/Shotcut_00_01_14_400-2.png);
    background-repeat: none;
    background-position: center;
}

#dcv {
    animation: fadein2 1s ease, rotation2 2s ease-in-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
    background-image: url(image/webm/Shotcut_00_02_22_360-2.png);
    background-repeat: none;
    background-position: center;
}

#exc {
    animation: fadein3 1s ease, rotation3 2s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    background-image: url(image/webm/Shotcut_00_01_23_040-2.png);
    background-repeat: none;
    background-position: center;
}

@-webkit-keyframes rotation1 {
    from {
        -webkit-transform: translateX(-50%) rotateY(0deg);
    }

    to {
        -webkit-transform: translateX(0%) rotateY(360deg);
    }
}

@-webkit-keyframes rotation2 {
    0% {
        -webkit-transform: translateX(-50%) rotateY(0deg);
    }

    100% {
        -webkit-transform: translateX(0%) rotateY(360deg);
    }
}

@-webkit-keyframes rotation3 {
    from {
        -webkit-transform: translateX(-50%) rotateY(0deg);
    }

    to {
        -webkit-transform: translateX(0%) rotateY(360deg);
    }
}

/* @keyframes ttt1 {
    0% {
        transform: rotateY('0deg') translateX(-150%);
    }

    100% {
        transform: rotateY('360deg') translateX(0%);
    }
} */

@keyframes fadein1 {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein2 {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein3 {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

/* @keyframes fadein2 {
    0% {
        opacity: 0;
    }

    25% {
        
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
} */

/* @keyframes fadein3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
} */

/* @keyframes translation1 {
    0% {
        transform: translateX(-150%);
    }

    20% {
        transform: translateX(-150%);
    }

    25% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(-25%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
} */

#clq:hover {
    border-color: red;
}

#dcv:hover {
    border-color: red;
}

#exc:hover {
    border-color: red;
}

.reserve {
    border-style: ridge;
    border-radius: 50px;
    margin: none;
    margin-top: 15px;
    padding: 5px;
    font-family: cursive;
    font-size: 30px;
    max-width: 500px;
    width: 400px;
    text-align: center;
}

.reserve:hover {
    background-image: url("image/webm/banner00-1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

/* 
.reserve::before{
    background-color: hsla(0, 0%, 0%, 0.26);
} */

.barred {
    display: flex;
    font-weight: 300;
    /* text-decoration-line: line-through; */
    opacity: 50%;
}


.new {
    display: flex;
    color: orangered;
    font-style: oblique;
    font-weight: bolder;
}